/*Start intro*/
.intro .title h2{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 27px;
    text-transform: capitalize;
}

.intro .title h2 span{color: #fc3a00}

.intro .title img{
    padding-left: 550px
}

.intro .title p{
    text-align:justify;
line-height: 33px;
    color: #a0a0a0;
}

/*End intro*/